Repository uwblueprint/community-fridge-kw, pull requests merged in 2021-11, with the labels that each got.

#21 feat: landing, login, and sign up welcome screens
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/Signup.tsx
  frontend/src/components/auth/Signup/AccountDetails.tsx
  frontend/src/components/auth/Signup/CreateAccount.tsx
  frontend/src/components/auth/Signup/VerificationEmail.tsx
  frontend/src/components/auth/Signup/components/MandatoryInputDescription.tsx
  frontend/src/components/auth/Signup/components/PasswordRequirement.tsx
  frontend/src/components/auth/Signup/components/index.tsx
  frontend/src/components/auth/Signup/index.tsx
  frontend/src/components/auth/Signup/types.ts
  frontend/src/components/auth/utilities/index.ts
  frontend/src/components/common/Header.tsx
  frontend/src/components/common/icons/index.tsx
  frontend/src/components/pages/Home/DonationProcess.tsx
  frontend/src/components/pages/Home/VolunteerRoles.tsx
  frontend/src/components/pages/Home/index.tsx
  frontend/src/constants/Routes.ts
  frontend/src/reducers/PasswordVerificationReducer.ts
  frontend/src/theme/index.tsx
  frontend/yarn.lock
Labels: frontend, ready for review

#20 feat: volunteer CRUD endpoints
  backend/typescript/middlewares/validators/authValidators.ts
  backend/typescript/middlewares/validators/entityValidators.ts
  backend/typescript/middlewares/validators/userValidators.ts
  backend/typescript/models/volunteer.model.ts
  backend/typescript/rest/authRoutes.ts
  backend/typescript/rest/entityRoutes.ts
  backend/typescript/rest/userRoutes.ts
  backend/typescript/rest/volunteerRoutes.ts
  backend/typescript/server.ts
  backend/typescript/services/implementations/__tests__/userService.test.ts
  backend/typescript/services/implementations/__tests__/volunteerService.test.ts
  backend/typescript/services/implementations/authService.ts
  backend/typescript/services/implementations/volunteerService.ts
  backend/typescript/services/interfaces/volunteerService.ts
  backend/typescript/types.ts
Labels: backend, ready for review

#23 fix: backend tests
  .github/workflows/ci.yml
  backend/typescript/services/implementations/__tests__/schedulingService.test.ts
  docker-compose.ci.yml
Labels: infra/devops, ready to merge

#22 feat: email cron job
  backend/typescript/package.json
  backend/typescript/server.ts
  backend/typescript/services/implementations/emailService.ts
  backend/typescript/services/interfaces/emailService.ts
  backend/typescript/utilities/emailUtils.ts
Labels: ready to merge

#25 feat: Create scheduling process skeleton
  frontend/src/App.tsx
  frontend/src/components/pages/Home/index.tsx
  frontend/src/components/pages/Scheduling/ConfirmDetails.tsx
  frontend/src/components/pages/Scheduling/DonationInformation.tsx
  frontend/src/components/pages/Scheduling/GetStarted.tsx
  frontend/src/components/pages/Scheduling/SelectDateTime.tsx
  frontend/src/components/pages/Scheduling/ThankYou.tsx
  frontend/src/components/pages/Scheduling/VolunteerInformation.tsx
  frontend/src/components/pages/Scheduling/index.tsx
  frontend/src/components/pages/Scheduling/types.ts
  frontend/src/constants/Routes.ts
  frontend/src/theme/components/Button.tsx
  frontend/src/theme/index.tsx
Labels: frontend, ready to merge

#28 refactor: update design system elements
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/Signup/AccountDetails.tsx
  frontend/src/components/auth/Signup/CreateAccount.tsx
  frontend/src/components/auth/Signup/VerificationEmail.tsx
  frontend/src/components/auth/Signup/components/MandatoryInputDescription.tsx
  frontend/src/components/common/Header.tsx
  frontend/src/components/pages/Default.tsx
  frontend/src/components/pages/Home/DonationProcess.tsx
  frontend/src/components/pages/Home/VolunteerRoles.tsx
  frontend/src/components/pages/Home/index.tsx
  frontend/src/theme/components/Button.tsx
  frontend/src/theme/index.tsx
Labels: frontend, ready for review

#26 feat: Scheduling API Clients
  frontend/src/APIClients/SchedulingAPIClient.ts
  frontend/src/types/SchedulingTypes.ts
Labels: frontend, ready for review

#27 feat: add donor API clients
  backend/typescript/yarn.lock
  frontend/src/APIClients/AuthAPIClient.ts
  frontend/src/APIClients/DonorAPIClient.ts
  frontend/src/components/auth/Signup/AccountDetails.tsx
  frontend/src/types/DonorTypes.ts
Labels: frontend, ready for review

#29 feat: Create scheduling get started screen
  frontend/src/assets/scheduling_getstarted.svg
  frontend/src/components/pages/Scheduling/GetStarted.tsx
Labels: frontend, ready for review

#30 fix: update scheduling model
  backend/typescript/middlewares/validators/schedulingValidators.ts
  backend/typescript/middlewares/validators/util.ts
  backend/typescript/models/scheduling.model.ts
  backend/typescript/services/implementations/__tests__/schedulingService.test.ts
  backend/typescript/services/implementations/schedulingService.ts
  backend/typescript/types.ts
  frontend/src/components/pages/Scheduling/index.tsx
  frontend/src/components/pages/Scheduling/types.ts
Labels: backend, ready for review

#35 fix: Fix error types
  backend/typescript/middlewares/validators/authValidators.ts
  backend/typescript/middlewares/validators/entityValidators.ts
  backend/typescript/rest/authRoutes.ts
  backend/typescript/rest/donorRoutes.ts
  backend/typescript/rest/entityRoutes.ts
  backend/typescript/rest/schedulingRoutes.ts
  backend/typescript/rest/userRoutes.ts
  backend/typescript/rest/volunteerRoutes.ts
  backend/typescript/services/implementations/authService.ts
  backend/typescript/services/implementations/donorService.ts
  backend/typescript/services/implementations/emailService.ts
  backend/typescript/services/implementations/entityService.ts
  backend/typescript/services/implementations/fileStorageService.ts
  backend/typescript/services/implementations/schedulingService.ts
  backend/typescript/services/implementations/userService.ts
  backend/typescript/services/implementations/volunteerService.ts
  backend/typescript/utilities/errorMessageUtil.ts
Labels: ready to merge

#36 chore: seed database with donors and schedules
  README.md
  backend/typescript/seed.js
  backend/typescript/seeders/20211114043430-seed-donations.ts
  backend/typescript/umzug.ts
Labels: ready to merge

#32 feat: initial donor dropoff view
  backend/typescript/rest/donorRoutes.ts
  backend/typescript/services/implementations/__tests__/donorService.test.ts
  backend/typescript/services/implementations/donorService.ts
  backend/typescript/services/interfaces/donorService.ts
  backend/typescript/types.ts
  frontend/package.json
  frontend/src/APIClients/DonorAPIClient.ts
  frontend/src/APIClients/SchedulingAPIClient.ts
  frontend/src/App.tsx
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/Signup/AccountDetails.tsx
  frontend/src/components/auth/Signup/CreateAccount.tsx
  frontend/src/components/common/icons/index.tsx
  frontend/src/components/pages/Dashboard/EditDashboardSchedule.tsx
  frontend/src/components/pages/Dashboard/components/DeleteScheduleModal.tsx
  frontend/src/components/pages/Dashboard/components/DropoffCard.tsx
  frontend/src/components/pages/Dashboard/index.tsx
  frontend/src/components/pages/Home/index.tsx
  frontend/src/components/pages/Scheduling/index.tsx
  frontend/src/components/pages/Scheduling/types.ts
  frontend/src/constants/Routes.ts
  frontend/src/theme/index.tsx
  frontend/src/types/AuthTypes.ts
  frontend/src/types/SchedulingTypes.ts
  frontend/yarn.lock
Labels: frontend, ready for review

#37 style: update header and drawer
  frontend/public/drawer-logo.png
  frontend/public/header-logo.png
  frontend/src/App.tsx
  frontend/src/components/common/Header.tsx
  frontend/src/index.css
Labels: frontend, changes requested

#34 feat: footer component
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/common/Footer.tsx
  frontend/src/components/common/icons/index.tsx
  frontend/src/theme/index.tsx
  frontend/yarn.lock
Labels: frontend, ready to merge

#43 chore: change sort import from `error` to `warn`
  frontend/.eslintrc.js
  frontend/src/APIClients/AuthAPIClient.ts
  frontend/src/APIClients/BaseAPIClient.ts
  frontend/src/APIClients/DonorAPIClient.ts
  frontend/src/APIClients/EntityAPIClient.ts
  frontend/src/APIClients/SchedulingAPIClient.ts
  frontend/src/App.tsx
  frontend/src/constants/AuthConstants.ts
Labels: ready for review

#40 feat: donation views weekly calendar
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/common/WeeklyCalendar.tsx
  frontend/src/components/common/WeeklyEventItems.tsx
  frontend/src/components/pages/AdminCalendar.tsx
  frontend/src/components/pages/ViewDonations.tsx
  frontend/src/constants/DaysInWeek.ts
  frontend/src/constants/Routes.ts
  frontend/src/theme/index.tsx
  frontend/yarn.lock
Labels: frontend, ready to merge

#42 feat: Create custom radio select component
  frontend/src/components/common/RadioSelectGroup.tsx
  frontend/src/components/common/WeeklyCalendar.tsx
  frontend/src/components/common/WeeklyEventItems.tsx
  frontend/src/components/pages/AdminCalendar.tsx
  frontend/src/components/pages/Scheduling/DonationInformation.tsx
  frontend/src/components/pages/Scheduling/SelectDateTime.tsx
  frontend/src/components/pages/Scheduling/index.tsx
  frontend/src/components/pages/Scheduling/types.ts
  frontend/src/components/pages/ViewDonations.tsx
  frontend/src/constants/DaysInWeek.ts
  frontend/src/theme/index.tsx
  frontend/src/types/SchedulingTypes.ts
Labels: frontend, ready to merge

#48 fix: hide password input field and add `businessName` to signup flow
  frontend/src/APIClients/AuthAPIClient.ts
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/Signup/AccountDetails.tsx
  frontend/src/components/auth/Signup/index.tsx
  frontend/src/components/auth/Signup/types.ts
  frontend/src/types/AuthTypes.ts
Labels: frontend, ready for review

#44 refactor: Reuse scheduling components
  frontend/src/components/pages/Dashboard/EditDashboardSchedule.tsx
  frontend/src/components/pages/Scheduling/ConfirmDetails.tsx
  frontend/src/components/pages/Scheduling/DonationInformation.tsx
  frontend/src/components/pages/Scheduling/SelectDateTime.tsx
  frontend/src/components/pages/Scheduling/VolunteerInformation.tsx
  frontend/src/components/pages/Scheduling/index.tsx
  frontend/src/components/pages/Scheduling/types.ts
Labels: frontend, ready for review

#47 fix: Update scheduling model
  backend/typescript/middlewares/validators/schedulingValidators.ts
  backend/typescript/models/scheduling.model.ts
  backend/typescript/seeders/20211114043430-seed-donations.ts
  backend/typescript/services/implementations/__tests__/schedulingService.test.ts
  backend/typescript/services/implementations/schedulingService.ts
  backend/typescript/types.ts
  frontend/src/types/SchedulingTypes.ts
  yarn.lock
Labels: backend, ready for review

#46 build: Deploy backend
  .gitignore
  backend/typescript/Procfile
  backend/typescript/models/index.ts
  backend/typescript/nodemailer.config.ts
  backend/typescript/package.json
  backend/typescript/server.ts
  backend/typescript/services/implementations/__tests__/donorService.test.ts
  backend/typescript/services/implementations/__tests__/schedulingService.test.ts
  backend/typescript/services/implementations/__tests__/userService.test.ts
  backend/typescript/services/implementations/__tests__/volunteerService.test.ts
  backend/typescript/services/implementations/emailService.ts
  backend/typescript/testUtils/testDb.ts
  backend/typescript/tsconfig.json
  backend/typescript/types.ts
  backend/typescript/umzug.ts
  backend/typescript/utilities/dbUtils.ts
  frontend/src/components/pages/Scheduling/DonationInformation.tsx
  frontend/src/components/pages/Scheduling/SelectDateTime.tsx
  frontend/src/components/pages/Scheduling/index.tsx
  frontend/src/components/pages/Scheduling/types.ts
  frontend/src/types/SchedulingTypes.ts
Labels: infra/devops, ready for review

#49 feat: Scheduling - Volunteer Information page
  frontend/src/components/common/RadioSelectGroup.tsx
  frontend/src/components/pages/Scheduling/VolunteerInformation.tsx
  frontend/src/components/pages/Scheduling/index.tsx
  frontend/src/components/pages/Scheduling/types.ts
Labels: frontend
