Repository uwblueprint/community-fridge-kw, pull requests merged in 2021-12, with the labels that each got.

#57 fix: update landing page copy
  frontend/src/components/pages/Home/DonationProcess.tsx
  frontend/src/components/pages/Home/VolunteerRoles.tsx
Labels: ready for review

#54 feat: view donation details popup
  frontend/src/components/common/WeeklyCalendar.tsx
  frontend/src/components/common/WeeklyEventItemPopUp.tsx
  frontend/src/components/common/WeeklyEventItems.tsx
  frontend/src/components/pages/AdminCalendar.tsx
  frontend/src/components/pages/ViewDonations.tsx
  frontend/src/constants/DaysInWeek.ts
  frontend/src/index.css
  frontend/src/theme/index.tsx
Labels: frontend, ready to merge

#52 feat: Scheduling Donation Information page
  backend/typescript/seeders/20211114043430-seed-donations.ts
  frontend/package.json
  frontend/src/assets/donation-sizes/lg.png
  frontend/src/assets/donation-sizes/md.png
  frontend/src/assets/donation-sizes/sm.png
  frontend/src/assets/donation-sizes/xs.png
  frontend/src/components/auth/Login.tsx
  frontend/src/components/common/RadioImageSelectGroup.tsx
  frontend/src/components/common/SchedulingProgressBar.tsx
  frontend/src/components/pages/Dashboard/components/DropoffCard.tsx
  frontend/src/components/pages/Scheduling/ConfirmDetails.tsx
  frontend/src/components/pages/Scheduling/DonationInformation.tsx
  frontend/src/components/pages/Scheduling/types.ts
  frontend/src/theme/components/Button.tsx
  frontend/src/theme/index.tsx
Labels: frontend, ready to merge

#58 style: admin view mobile
  frontend/src/components/common/Calendar/Calendar.tsx
  frontend/src/components/common/Calendar/WeeklyCalendar.tsx
  frontend/src/components/common/Calendar/WeeklyEventItemPopUp.tsx
  frontend/src/components/common/Calendar/WeeklyEventItems.tsx
  frontend/src/components/common/WeeklyCalendar.tsx
  frontend/src/components/common/WeeklyEventItemPopUp.tsx
  frontend/src/components/pages/ViewDonations.tsx
  frontend/src/theme/index.tsx
Labels: frontend, ready to merge

#51 feat: Create scheduling Select Date Time page
  backend/typescript/seeders/20211114043430-seed-donations.ts
  frontend/package.json
  frontend/src/assets/personIcon.svg
  frontend/src/components/common/Calendar/Calendar.tsx
  frontend/src/components/common/Calendar/WeeklyEventItemPopUp.tsx
  frontend/src/components/common/RadioSelectGroup.tsx
  frontend/src/components/pages/Scheduling/SelectDateTime.tsx
  frontend/src/components/pages/Scheduling/VolunteerInformation.tsx
  frontend/src/components/pages/ViewDonations.tsx
  frontend/src/theme/index.tsx
  frontend/yarn.lock
Labels: frontend, ready for review

#59 style: desktop styling for upcoming dropoffs and dropoff details
  frontend/src/components/common/Calendar/WeeklyEventItemPopUp.tsx
  frontend/src/components/common/Calendar/WeeklyEventItems.tsx
  frontend/src/components/pages/Dashboard/components/DropoffCard.tsx
  frontend/src/components/pages/Dashboard/index.tsx
  frontend/src/components/pages/Scheduling/ConfirmDetails.tsx
  frontend/src/constants/DaysInWeek.ts
  frontend/src/theme/components/Button.tsx
Labels: frontend, ready for review

#61 feat: account info page
  frontend/src/App.tsx
  frontend/src/components/common/Header.tsx
  frontend/src/components/pages/Account.tsx
  frontend/src/constants/Routes.ts
Labels: frontend, ready to merge

#64 fix: redo auth ui validations
  backend/typescript/services/implementations/email.fridgeEmail
  frontend/src/App.tsx
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/Signup/AccountDetails.tsx
  frontend/src/components/auth/Signup/CreateAccount.tsx
  frontend/src/components/auth/Signup/VerificationEmail.tsx
  frontend/src/components/auth/Signup/index.tsx
  frontend/src/components/pages/Dashboard/components/DeleteScheduleModal.tsx
  frontend/src/components/pages/Dashboard/index.tsx
  frontend/src/constants/Routes.ts
  frontend/src/reducers/PasswordVerificationReducer.ts
Labels: ready for review

#65 feat(ui): confirm email address page
  frontend/src/components/auth/Signup/ConfirmVerificationPage.tsx
Labels: frontend, ready for review

#66 style: Style select date time calendar
  frontend/src/components/auth/Signup/CreateAccount.tsx
  frontend/src/components/common/Calendar/WeeklyEventItems.tsx
  frontend/src/components/pages/Scheduling/SelectDateTime.tsx
Labels: frontend, ready for review

#55 fix: add logic for creating schedules for recurring donations
  backend/typescript/services/implementations/__tests__/schedulingService.test.ts
  backend/typescript/services/implementations/schedulingService.ts
  frontend/src/components/common/Footer.tsx
Labels: backend, changes requested

#73 fix: deployment changes
  backend/typescript/server.ts
  frontend/firebase.json
Labels: ready for review

#67 feat: scheduling form validation
  backend/typescript/middlewares/validators/schedulingValidators.ts
  backend/typescript/middlewares/validators/util.ts
  frontend/src/components/common/RadioImageSelectGroup.tsx
  frontend/src/components/common/RadioSelectGroup.tsx
  frontend/src/components/pages/Scheduling/DonationInformation.tsx
  frontend/src/components/pages/Scheduling/ErrorMessages.tsx
  frontend/src/components/pages/Scheduling/SelectDateTime.tsx
  frontend/src/components/pages/Scheduling/VolunteerInformation.tsx
  frontend/src/components/pages/Scheduling/index.tsx
Labels: frontend, ready for review

#70 style: fix homepage button and styling bugs
  frontend/src/components/pages/Account.tsx
  frontend/src/components/pages/Home/DonationProcess.tsx
  frontend/src/components/pages/Home/index.tsx
Labels: frontend, ready to merge

#76 chore: remove unused backend dependencies and entity services
  backend/typescript/middlewares/validators/entityValidators.ts
  backend/typescript/models/entity.model.ts
  backend/typescript/package.json
  backend/typescript/rest/entityRoutes.ts
  backend/typescript/server.ts
  backend/typescript/services/implementations/entityService.ts
  backend/typescript/services/implementations/fileStorageService.ts
  backend/typescript/services/interfaces/IEntityService.ts
  backend/typescript/services/interfaces/fileStorageService.ts
  backend/typescript/utilities/CSVUtils.ts
  backend/typescript/yarn.lock
  frontend/package.json
  frontend/yarn.lock
Labels: backend, ready for review, dependencies

#82 refactor: community fridge image and icon assets
  frontend/public/header-logo.png
  frontend/src/APIClients/EntityAPIClient.ts
  frontend/src/App.tsx
  frontend/src/components/auth/Logout.tsx
  frontend/src/components/auth/RefreshCredentials.tsx
  frontend/src/components/auth/ResetPassword.tsx
  frontend/src/components/auth/Signup/AccountDetails.tsx
  frontend/src/components/auth/Signup/ConfirmVerificationPage.tsx
  frontend/src/components/auth/Signup/CreateAccount.tsx
  frontend/src/components/auth/Signup/VerificationEmail.tsx
  frontend/src/components/auth/Signup/components/PasswordRequirement.tsx
  frontend/src/components/common/Header.tsx
  frontend/src/components/common/MainPageButton.tsx
  frontend/src/components/common/__tests__/MainPageButton.spec.tsx
  frontend/src/components/common/__tests__/__snapshots__/MainPageButton.spec.tsx.snap
  frontend/src/components/common/icons/index.tsx
  frontend/src/components/pages/CreatePage.tsx
  frontend/src/components/pages/Default.tsx
  frontend/src/components/pages/Scheduling/ConfirmDetails.tsx
  frontend/src/components/pages/Scheduling/SelectDateTime.tsx
  frontend/src/components/pages/__tests__/Default.test.tsx
  frontend/src/contexts/SampleContext.ts
  frontend/src/contexts/SampleContextDispatcherContext.ts
  frontend/src/reducers/SampleContextReducer.ts
  frontend/src/types/SampleContextTypes.ts
Labels: ready for review, refactor

#75 fix: custom email handler for firebase user verification
  backend/typescript/rest/authRoutes.ts
  backend/typescript/services/implementations/authService.ts
  backend/typescript/services/interfaces/authService.ts
  backend/typescript/utilities/firebaseRestClient.ts
  frontend/src/APIClients/AuthAPIClient.ts
  frontend/src/App.tsx
  frontend/src/components/auth/Action.tsx
  frontend/src/components/auth/Signup/AccountDetails.tsx
  frontend/src/components/auth/Signup/VerificationEmail.tsx
  frontend/src/components/pages/Account.tsx
  frontend/src/components/pages/Dashboard/index.tsx
  frontend/src/components/pages/Scheduling/ConfirmDetails.tsx
  frontend/src/components/pages/Scheduling/index.tsx
  frontend/src/constants/Routes.ts
Labels: backend, ready for review

#69 fix: donation dashboard FE/BE changes
  backend/typescript/rest/schedulingRoutes.ts
  backend/typescript/services/implementations/__tests__/schedulingService.test.ts
  backend/typescript/services/implementations/schedulingService.ts
  backend/typescript/services/interfaces/schedulingService.ts
  frontend/src/APIClients/SchedulingAPIClient.ts
  frontend/src/components/common/Calendar/WeeklyEventItemPopUp.tsx
  frontend/src/components/pages/Dashboard/index.tsx
  frontend/src/components/pages/Scheduling/index.tsx
  frontend/src/constants/DashboardConstants.ts
Labels: frontend, backend, changes requested

#83 refactor: styling cleanup
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/PrivateRoute.tsx
  frontend/src/components/auth/Signup/AccountDetails.tsx
  frontend/src/components/auth/Signup/ConfirmVerificationPage.tsx
  frontend/src/components/auth/Signup/CreateAccount.tsx
  frontend/src/components/auth/Signup/VerificationEmail.tsx
  frontend/src/components/common/Header.tsx
  frontend/src/components/common/icons/index.tsx
  frontend/src/components/pages/Account.tsx
  frontend/src/components/pages/Dashboard/components/DropoffCard.tsx
  frontend/src/components/pages/Dashboard/index.tsx
  frontend/src/components/pages/Home/index.tsx
  frontend/src/components/pages/Scheduling/ConfirmDetails.tsx
  frontend/src/components/pages/Scheduling/DonationInformation.tsx
  frontend/src/components/pages/Scheduling/SelectDateTime.tsx
  frontend/src/components/pages/Scheduling/VolunteerInformation.tsx
  frontend/src/theme/colors.ts
  frontend/src/theme/components/Button.tsx
  frontend/src/theme/index.tsx
  frontend/src/theme/textStyles.ts
Labels: frontend, ready to merge
