Repository uwblueprint/community-fridge-kw, pull requests merged in 2021-10, with the labels that each got.

#4 feat: added pgadmin service
  docker-compose.yml
Labels: backend

#7 feat: create scheduling model + migration
  backend/typescript/models/scheduling.model.ts
  backend/typescript/types.ts
Labels: backend

#12 docs: add MIT license and update documentation
  LICENSE
  README.md
  backend/typescript/package.json
  frontend/package.json
Labels: documentation

#11 feat: user table and modified auth routes
  backend/typescript/middlewares/validators/authValidators.ts
  backend/typescript/middlewares/validators/userValidators.ts
  backend/typescript/models/donor.model.ts
  backend/typescript/models/user.model.ts
  backend/typescript/rest/authRoutes.ts
  backend/typescript/rest/userRoutes.ts
  backend/typescript/services/implementations/__tests__/userService.test.ts
  backend/typescript/services/implementations/authService.ts
  backend/typescript/services/implementations/userService.ts
  backend/typescript/swagger.yml
  backend/typescript/types.ts
  backend/typescript/utilities/firebaseRestClient.ts
  frontend/src/APIClients/AuthAPIClient.ts
  frontend/src/APIClients/EntityAPIClient.ts
  frontend/src/components/auth/Logout.tsx
  frontend/src/components/auth/RefreshCredentials.tsx
  frontend/src/components/auth/Signup.tsx
  frontend/src/components/crud/CreateForm.tsx
  frontend/src/components/crud/DisplayTableContainer.tsx
  frontend/src/components/crud/UpdateForm.tsx
  frontend/src/components/pages/__tests__/Default.test.tsx
  frontend/src/types/AuthTypes.ts
Labels: backend, ready for review

#16 feat: add chakra provider and theming
  frontend/.eslintrc.js
  frontend/package.json
  frontend/src/APIClients/AuthAPIClient.ts
  frontend/src/APIClients/EntityAPIClient.ts
  frontend/src/App.tsx
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/PrivateRoute.tsx
  frontend/src/components/auth/ResetPassword.tsx
  frontend/src/components/common/MainPageButton.tsx
  frontend/src/components/common/__tests__/MainPageButton.spec.tsx
  frontend/src/components/crud/CreateForm.tsx
  frontend/src/components/crud/DisplayTableContainer.tsx
  frontend/src/components/crud/UpdateForm.tsx
  frontend/src/components/pages/CreatePage.tsx
  frontend/src/components/pages/Default.tsx
  frontend/src/components/pages/DisplayPage.tsx
  frontend/src/components/pages/EditTeamPage.tsx
  frontend/src/components/pages/HooksDemo/HooksDemo.tsx
  frontend/src/components/pages/UpdatePage.tsx
  frontend/src/components/pages/__tests__/Default.test.tsx
  frontend/src/contexts/AuthContext.ts
  frontend/src/contexts/SampleContext.ts
  frontend/src/contexts/SampleContextDispatcherContext.ts
  frontend/src/index.tsx
  frontend/src/theme/index.tsx
  frontend/yarn.lock
Labels: frontend, ready for review

#14 feat: Create volunteer table
  backend/typescript/models/volunteer.model.ts
  backend/typescript/types.ts
Labels: backend

#18 feat: Donor API routes
  backend/typescript/middlewares/validators/authValidators.ts
  backend/typescript/middlewares/validators/donorValidator.ts
  backend/typescript/models/donor.model.ts
  backend/typescript/models/user.model.ts
  backend/typescript/rest/authRoutes.ts
  backend/typescript/rest/donorRoutes.ts
  backend/typescript/server.ts
  backend/typescript/services/implementations/__tests__/donorService.test.ts
  backend/typescript/services/implementations/donorService.ts
  backend/typescript/services/implementations/userService.ts
  backend/typescript/services/interfaces/donorService.ts
  backend/typescript/types.ts
Labels: backend

#17 feat: create scheduling crud endpoints
  backend/typescript/middlewares/validators/schedulingValidators.ts
  backend/typescript/middlewares/validators/util.ts
  backend/typescript/models/scheduling.model.ts
  backend/typescript/rest/schedulingRoutes.ts
  backend/typescript/server.ts
  backend/typescript/services/implementations/__tests__/schedulingService.test.ts
  backend/typescript/services/implementations/schedulingService.ts
  backend/typescript/services/interfaces/schedulingService.ts
  backend/typescript/types.ts
Labels: backend, ready for review
