Repository uwblueprint/community-fridge-kw, pull requests merged in 2022-03, with the labels that each got.

#156 fix: miscellaneous bugs from feedback form
  backend/typescript/services/implementations/schedulingService.ts
  frontend/src/components/auth/Signup/AccountDetails.tsx
  frontend/src/components/auth/Signup/VerificationEmail.tsx
Labels: ready to merge

#159 fix: only show upcoming donations in donor dashboard
  backend/typescript/services/implementations/__tests__/schedulingService.test.ts
  backend/typescript/services/implementations/schedulingService.ts
Labels: backend

#160 chore(main): release v0.0.5
  backend/typescript/services/implementations/__tests__/schedulingService.test.ts
  backend/typescript/services/implementations/schedulingService.ts
Labels: release

#150 feat: Add volunteer to sign up flow
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/Signup/AccountDetails.tsx
  frontend/src/components/auth/Signup/AccountType.tsx
  frontend/src/components/auth/Signup/CreateAccount.tsx
  frontend/src/components/auth/Signup/FailedModal.tsx
  frontend/src/components/auth/Signup/TermsConditions.tsx
  frontend/src/components/auth/Signup/index.tsx
  frontend/src/components/auth/Signup/types.ts
  frontend/src/components/common/Header.tsx
  frontend/src/components/common/HeaderLabel.tsx
  frontend/src/components/common/RadioSelectGroup.tsx
Labels: enhancement, frontend, ready to merge

#161 feat: content backend model, route, validators, services and tests
  backend/typescript/middlewares/validators/authValidators.ts
  backend/typescript/middlewares/validators/contentValidators.ts
  backend/typescript/models/content.model.ts
  backend/typescript/rest/contentRoutes.ts
  backend/typescript/server.ts
  backend/typescript/services/implementations/__tests__/contentService.test.ts
  backend/typescript/services/implementations/contentService.ts
  backend/typescript/services/interfaces/contentService.ts
  backend/typescript/types.ts
  frontend/src/APIClients/ContentAPIClient.ts
  frontend/src/types/ContentTypes.ts
Labels: backend, ready for review, ready to merge

#155 feat: get and delete checkin endpoints
  backend/typescript/middlewares/validators/checkInValidators.ts
  backend/typescript/rest/checkInRoutes.ts
  backend/typescript/server.ts
  backend/typescript/services/implementations/__tests__/checkInService.test.ts
  backend/typescript/services/implementations/checkInService.ts
  backend/typescript/services/interfaces/checkInService.ts
  backend/typescript/testUtils/checkInService.ts
  backend/typescript/types.ts
Labels: backend, ready for review, do not merge

#153 feat: create and update check in endpoints
  backend/typescript/middlewares/validators/checkInValidators.ts
  backend/typescript/rest/checkInRoutes.ts
  backend/typescript/server.ts
  backend/typescript/services/implementations/__tests__/checkInService.test.ts
  backend/typescript/services/implementations/checkInService.ts
  backend/typescript/services/implementations/schedulingService.ts
  backend/typescript/services/interfaces/checkInService.ts
  backend/typescript/testUtils/checkInService.ts
  backend/typescript/types.ts
  backend/typescript/utilities/servicesUtils.ts
Labels: backend, ready for review

#126 feat: send donation cancellation email
  backend/typescript/rest/schedulingRoutes.ts
  backend/typescript/services/implementations/__tests__/schedulingService.test.ts
  backend/typescript/services/implementations/emailService.ts
  backend/typescript/services/implementations/schedulingService.ts
  backend/typescript/services/interfaces/schedulingService.ts
  backend/typescript/utilities/emailUtils.ts
  frontend/src/APIClients/SchedulingAPIClient.ts
  frontend/src/components/pages/Scheduling/ConfirmDetails.tsx
Labels: frontend, backend, ready for review

#164 feat: frontend CheckInAPIClient
  frontend/src/APIClients/CheckInAPIClient.ts
  frontend/src/types/CheckInTypes.ts
Labels: frontend, ready to merge

#168 fix: only use cfkw admin email in production environment
  backend/typescript/services/implementations/schedulingService.ts
  backend/typescript/utilities/emailUtils.ts
Labels: backend, ready to merge

#163 feat: volunteer pending email after verification
  backend/typescript/services/implementations/authService.ts
  backend/typescript/services/interfaces/authService.ts
  frontend/src/components/auth/Action.tsx
  frontend/src/components/auth/Signup/index.tsx
Labels: enhancement, backend, ready to merge

#166 feat: create volunteer context
  frontend/src/App.tsx
  frontend/src/components/auth/Login.tsx
  frontend/src/constants/AuthConstants.ts
  frontend/src/contexts/VolunteerContext.ts
  frontend/src/contexts/VolunteerContextDispatcher.ts
  frontend/src/reducers/VolunteerContextReducer.ts
  frontend/src/types/VolunteerTypes.ts
Labels: frontend, ready to merge

#165 refactor: migrate to dayjs for create scheduling
  backend/typescript/services/implementations/__tests__/schedulingService.test.ts
  backend/typescript/services/implementations/schedulingService.ts
  backend/typescript/testUtils/schedulingService.ts
  backend/typescript/types.ts
Labels: backend, ready to merge, refactor

#162 feat: Update my account page for volunteers
  frontend/src/components/pages/Account.tsx
Labels: frontend, ready to merge

#142 feat: send 24 hour email reminder for schedule
  backend/typescript/server.ts
  backend/typescript/services/implementations/cronService.ts
  backend/typescript/services/implementations/emailService.ts
  backend/typescript/services/interfaces/cronService.ts
  backend/typescript/services/interfaces/emailService.ts
Labels: changes requested

#174 fix: update seeding script with donors, volunteers, checkin, content
  README.md
  backend/typescript/seeders/20211114043430-seed-donations.ts
  backend/typescript/seeders/seed.ts
Labels: backend, ready for review, refactor

#175 fix: copy changes to frontend
  frontend/src/components/auth/Signup/CreateAccount.tsx
  frontend/src/components/common/Calendar/CalendarInfoCard.tsx
  frontend/src/components/common/Calendar/WeeklyEventItemPopUp.tsx
  frontend/src/components/common/Header.tsx
  frontend/src/components/pages/Account.tsx
  frontend/src/components/pages/Dashboard/components/DeleteScheduleModal.tsx
  frontend/src/components/pages/Dashboard/components/DropoffCard.tsx
  frontend/src/components/pages/Dashboard/index.tsx
  frontend/src/components/pages/Home/DonationProcess.tsx
  frontend/src/components/pages/Home/VolunteerRoles.tsx
  frontend/src/components/pages/Scheduling/ConfirmDetails.tsx
  frontend/src/components/pages/Scheduling/DonationInformation.tsx
  frontend/src/components/pages/Scheduling/SaveChangesButton.tsx
  frontend/src/components/pages/Scheduling/SelectDateTime.tsx
  frontend/src/components/pages/Scheduling/ThankYou.tsx
  frontend/src/components/pages/Scheduling/VolunteerInformation.tsx
  frontend/src/components/pages/Scheduling/types.ts
  frontend/src/components/pages/UserManagement/index.tsx
  frontend/src/components/pages/ViewDonations.tsx
  frontend/src/components/pages/VolunteerShifts/PendingPage.tsx
Labels: frontend, ready to merge

#167 feat: add new nav dropdown for admin view
  frontend/src/App.tsx
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/PrivateRoute.tsx
  frontend/src/components/common/Header.tsx
  frontend/src/components/pages/Account.tsx
  frontend/src/components/pages/CheckInsPage.tsx
  frontend/src/components/pages/Scheduling/ConfirmDetails.tsx
  frontend/src/components/pages/ViewDonations.tsx
  frontend/src/constants/Routes.ts
Labels: enhancement, frontend, changes requested

#180 chore(build): staging and docker environment fixes
  backend/typescript/Dockerfile
  backend/typescript/package.json
  backend/typescript/services/implementations/__tests__/schedulingService.test.ts
  backend/typescript/services/implementations/cronService.ts
  backend/typescript/services/implementations/emailService.ts
  frontend/Dockerfile
  frontend/package.json
  frontend/yarn.lock
Labels: bug, dependencies

#181 feat: volunteer shift tabs
  frontend/src/components/pages/VolunteerShifts/CheckIns.tsx
  frontend/src/components/pages/VolunteerShifts/FoodRescues.tsx
  frontend/src/components/pages/VolunteerShifts/VolunteerShiftTabs.tsx
  frontend/src/components/pages/VolunteerShifts/index.tsx
Labels: frontend, ready to merge

#185 feat(ui): donation information card refresh
  frontend/src/components/common/Calendar/Calendar.tsx
  frontend/src/components/common/Calendar/CalendarInfoCard.tsx
  frontend/src/components/pages/Dashboard/components/DropoffCard.tsx
  frontend/src/components/pages/Dashboard/index.tsx
  frontend/src/components/pages/Scheduling/SelectDateTime.tsx
  frontend/src/utils/DashboardUtils.ts
Labels: frontend, ready to merge

#188 fix: make entire social media link clickable
  frontend/src/components/common/Footer.tsx
Labels: frontend, ready for review

#186 fix: recurring donation dates
  backend/typescript/services/implementations/schedulingService.ts
  frontend/src/components/pages/Scheduling/SelectDateTime.tsx
Labels: bug, ready to merge

#183 feat: Create a backend service to call all checkins and food rescues associated with a volunteer
  backend/typescript/rest/authRoutes.ts
  backend/typescript/rest/checkInRoutes.ts
  backend/typescript/rest/volunteerRoutes.ts
  backend/typescript/services/implementations/__tests__/checkInService.test.ts
  backend/typescript/services/implementations/__tests__/schedulingService.test.ts
  backend/typescript/services/implementations/__tests__/volunteerService.test.ts
  backend/typescript/services/implementations/checkInService.ts
  backend/typescript/services/implementations/schedulingService.ts
  backend/typescript/services/implementations/volunteerService.ts
  backend/typescript/services/interfaces/volunteerService.ts
  backend/typescript/testUtils/volunteerService.ts
  backend/typescript/types.ts
  backend/typescript/utilities/servicesUtils.ts
  frontend/src/APIClients/VolunteerAPIClient.ts
Labels: backend, ready to merge

#184 feat: Delete User Backend Changes
  backend/typescript/services/implementations/donorService.ts
  backend/typescript/services/implementations/userService.ts
  backend/typescript/services/implementations/volunteerService.ts
Labels: backend, ready to merge
