Repository uwblueprint/community-fridge-kw, pull requests merged in 2022-02, with the labels that each got.

#118 fix: homepage and verification auth icons
  frontend/src/assets/authentication_complete.svg
  frontend/src/assets/authentication_incomplete.svg
  frontend/src/components/auth/Signup/ConfirmVerificationPage.tsx
  frontend/src/components/auth/Signup/VerificationEmail.tsx
  frontend/src/components/pages/Home/DonationProcess.tsx
  frontend/src/theme/textStyles.ts
Labels: frontend, ready to merge

#121 fix: change link to email header image
  backend/typescript/services/implementations/authService.ts
  backend/typescript/services/implementations/schedulingService.ts
Labels: backend, infra/devops, ready to merge

#124 fix: view donations css fix
  frontend/src/components/common/Calendar/WeeklyCalendar.tsx
  frontend/src/components/pages/ViewDonations.tsx
Labels: ready to merge

#120 fix: miscellaneous remaining bug bash fixes
  frontend/src/components/auth/Signup/ConfirmVerificationPage.tsx
  frontend/src/components/common/Header.tsx
  frontend/src/components/pages/Dashboard/components/DeleteRecurringModal.tsx
  frontend/src/components/pages/Dashboard/components/DeleteScheduleModal.tsx
  frontend/src/components/pages/Dashboard/index.tsx
  frontend/src/components/pages/Home/DonationProcess.tsx
  frontend/src/components/pages/Scheduling/ThankYou.tsx
Labels: ready to merge

#122 fix: style email to match figma
  backend/typescript/services/implementations/schedulingService.ts
Labels: bug, frontend, ready to merge

#127 fix: route to correct donation screen
  frontend/src/components/pages/Scheduling/ConfirmDetails.tsx
Labels: ready to merge

#123 feat: admin email verification donation scheduling
  backend/typescript/services/implementations/schedulingService.ts
  backend/typescript/services/interfaces/schedulingService.ts
Labels: backend, ready to merge

#133 fix: make radio button circles clickable
  frontend/src/components/common/RadioImageSelectGroup.tsx
  frontend/src/components/common/RadioSelectGroup.tsx
Labels: bug, frontend, ready to merge

#132 fix: enable editing scheduled donations for admins
  frontend/src/components/pages/Scheduling/ConfirmDetails.tsx
Labels: changes requested

#135 test: set sameSite to None to fix auth refresh
  backend/typescript/rest/authRoutes.ts
  frontend/src/APIClients/BaseAPIClient.ts
Labels: ready to merge

#137 style: edit calendar card widths
  frontend/src/components/common/Calendar/CalendarInfoCard.tsx
  frontend/src/components/common/Calendar/WeeklyCalendar.tsx
  frontend/src/components/pages/Dashboard/components/DropoffCard.tsx
Labels: frontend, ready for review

#138 chore(main): release v0.0.2
  backend/typescript/models/scheduling.model.ts
  backend/typescript/rest/authRoutes.ts
  backend/typescript/services/implementations/authService.ts
  backend/typescript/services/implementations/schedulingService.ts
  backend/typescript/services/interfaces/schedulingService.ts
  frontend/src/APIClients/BaseAPIClient.ts
  frontend/src/assets/authentication_complete.svg
  frontend/src/assets/authentication_incomplete.svg
  frontend/src/components/auth/Action.tsx
  frontend/src/components/auth/Signup/ConfirmVerificationPage.tsx
  frontend/src/components/auth/Signup/VerificationEmail.tsx
  frontend/src/components/common/Calendar/CalendarInfoCard.tsx
  frontend/src/components/common/Calendar/WeeklyCalendar.tsx
  frontend/src/components/common/Footer.tsx
  frontend/src/components/common/Header.tsx
  frontend/src/components/common/RadioImageSelectGroup.tsx
  frontend/src/components/common/RadioSelectGroup.tsx
  frontend/src/components/pages/Dashboard/components/DeleteRecurringModal.tsx
  frontend/src/components/pages/Dashboard/components/DeleteScheduleModal.tsx
  frontend/src/components/pages/Dashboard/components/DropoffCard.tsx
  frontend/src/components/pages/Dashboard/index.tsx
  frontend/src/components/pages/Home/DonationProcess.tsx
  frontend/src/components/pages/Home/index.tsx
  frontend/src/components/pages/Scheduling/ConfirmDetails.tsx
  frontend/src/components/pages/Scheduling/GetStarted.tsx
  frontend/src/components/pages/Scheduling/SelectDateTime.tsx
  frontend/src/components/pages/Scheduling/ThankYou.tsx
  frontend/src/components/pages/Scheduling/VolunteerInformation.tsx
  frontend/src/components/pages/UserManagement/index.tsx
  frontend/src/components/pages/ViewDonations.tsx
  frontend/src/components/pages/ViewDonationsPage.tsx
  frontend/src/theme/components/Container.ts
  frontend/src/theme/textStyles.ts
Labels: release

#130 feat: fix recurring end date upon deletion
  backend/typescript/services/implementations/__tests__/schedulingService.test.ts
  backend/typescript/services/implementations/schedulingService.ts
  backend/typescript/testUtils/schedulingService.ts
Labels: backend, ready to merge

#140 feat: send email on schedule edit by admin
  backend/typescript/services/implementations/schedulingService.ts
  backend/typescript/services/interfaces/schedulingService.ts
Labels: ready to merge

#128 feat: Update Volunteer Model with Pending/Approved ENUM
  backend/typescript/middlewares/validators/authValidators.ts
  backend/typescript/middlewares/validators/userValidators.ts
  backend/typescript/middlewares/validators/volunteerValidator.ts
  backend/typescript/models/volunteer.model.ts
  backend/typescript/rest/authRoutes.ts
  backend/typescript/rest/volunteerRoutes.ts
  backend/typescript/services/implementations/__tests__/volunteerService.test.ts
  backend/typescript/services/implementations/volunteerService.ts
  backend/typescript/services/interfaces/volunteerService.ts
  backend/typescript/testUtils/volunteerService.ts
  backend/typescript/types.ts
Labels: backend, ready to merge

#148 feat: check-ins table
  backend/typescript/models/checkIn.model.ts
Labels: backend, ready to merge

#129 feat: add volunteer_id as a foreign key and new scheduling volunteer services
  backend/typescript/middlewares/validators/schedulingValidators.ts
  backend/typescript/models/scheduling.model.ts
  backend/typescript/rest/schedulingRoutes.ts
  backend/typescript/services/implementations/__tests__/schedulingService.test.ts
  backend/typescript/services/implementations/schedulingService.ts
  backend/typescript/services/interfaces/schedulingService.ts
  backend/typescript/testUtils/schedulingService.ts
  backend/typescript/types.ts
  frontend/src/APIClients/SchedulingAPIClient.ts
  frontend/src/components/pages/Scheduling/index.tsx
  frontend/src/types/SchedulingTypes.ts
Labels: enhancement, backend, changes requested

#149 feat: Add pending page for volunteers
  frontend/src/App.tsx
  frontend/src/components/common/Header.tsx
  frontend/src/components/pages/VolunteerShifts/PendingPage.tsx
  frontend/src/components/pages/VolunteerShifts/index.tsx
  frontend/src/constants/Routes.ts
Labels: enhancement, frontend, ready to merge

#151 chore: remove unused moment deps
  backend/typescript/rest/authRoutes.ts
  backend/typescript/services/implementations/authService.ts
  backend/typescript/services/interfaces/authService.ts
  backend/typescript/swagger.yml
  backend/typescript/utilities/firebaseRestClient.ts
  frontend/package.json
  frontend/src/components/pages/Scheduling/SelectDateTime.tsx
  frontend/yarn.lock
Labels: ready to merge, dependencies

#147 feat: new pickUp scheduling endpoint
  backend/typescript/rest/schedulingRoutes.ts
  backend/typescript/services/implementations/__tests__/schedulingService.test.ts
  backend/typescript/services/implementations/schedulingService.ts
  backend/typescript/services/interfaces/schedulingService.ts
  backend/typescript/testUtils/schedulingService.ts
  frontend/src/APIClients/SchedulingAPIClient.ts
Labels: enhancement, backend, ready to merge

#152 fix: user experience changes for client
  frontend/src/components/common/GeneralErrorModal.tsx
  frontend/src/components/common/Header.tsx
  frontend/src/components/pages/Home/index.tsx
  frontend/src/components/pages/Scheduling/ConfirmDetails.tsx
  frontend/src/components/pages/Scheduling/SelectDateTime.tsx
  frontend/src/components/pages/VolunteerShifts/PendingPage.tsx
  frontend/src/components/pages/VolunteerShifts/index.tsx
  frontend/src/constants/DashboardConstants.ts
Labels: bug, ready for review

#136 feat: update recurring schedules
  backend/typescript/rest/schedulingRoutes.ts
  backend/typescript/services/implementations/schedulingService.ts
  backend/typescript/services/interfaces/schedulingService.ts
  frontend/src/APIClients/SchedulingAPIClient.ts
  frontend/src/components/pages/Dashboard/components/ModifyRecurringDonationModal.tsx
  frontend/src/components/pages/Scheduling/ConfirmDetails.tsx
  frontend/src/components/pages/Scheduling/DonationInformation.tsx
  frontend/src/components/pages/Scheduling/SelectDateTime.tsx
  frontend/src/components/pages/Scheduling/VolunteerInformation.tsx
  frontend/src/types/SchedulingTypes.ts
Labels: frontend, backend, ready to merge
