Repository uwblueprint/community-fridge-kw, pull requests merged in 2022-01, with the labels that each got.

#84 fix: donation dashboard bugs and removed unused deps
  .commitlintrc.json
  .husky/commit-msg
  .huskyrc.json
  frontend/src/components/auth/Signup/AccountDetails.tsx
  frontend/src/components/auth/Signup/CreateAccount.tsx
  frontend/src/components/common/RadioImageSelectGroup.tsx
  frontend/src/components/common/SchedulingProgressBar.tsx
  frontend/src/components/common/icons/index.tsx
  frontend/src/components/pages/Dashboard/components/DeleteScheduleModal.tsx
  frontend/src/components/pages/Dashboard/components/DropoffCard.tsx
  frontend/src/components/pages/Scheduling/SelectDateTime.tsx
  frontend/src/hooks/useViewport.ts
  frontend/src/theme/textStyles.ts
  package.json
  yarn.lock
Labels: frontend, ready to merge

#86 fix: email verification template
  backend/typescript/services/implementations/__tests__/schedulingService.test.ts
  backend/typescript/services/implementations/authService.ts
  backend/typescript/services/implementations/email.fridgeEmail
Labels: backend, ready to merge

#87 fix: update user api client and styling refactors
  backend/typescript/rest/userRoutes.ts
  backend/typescript/services/implementations/userService.ts
  frontend/src/APIClients/UserAPIClient.ts
  frontend/src/components/auth/Login.tsx
  frontend/src/components/common/SchedulingProgressBar.tsx
  frontend/src/components/pages/Scheduling/ConfirmDetails.tsx
  frontend/src/components/pages/Scheduling/GetStarted.tsx
  frontend/src/components/pages/Scheduling/ThankYou.tsx
  frontend/src/theme/index.ts
  frontend/src/theme/textStyles.ts
Labels: frontend, backend, ready to merge

#88 refactor: update copy from usability test
  backend/typescript/services/implementations/authService.ts
  frontend/src/components/common/Footer.tsx
  frontend/src/components/pages/Dashboard/components/DeleteScheduleModal.tsx
  frontend/src/components/pages/Dashboard/index.tsx
  frontend/src/components/pages/Home/index.tsx
  frontend/src/components/pages/Scheduling/GetStarted.tsx
  frontend/src/components/pages/Scheduling/ThankYou.tsx
  frontend/src/components/pages/Scheduling/VolunteerInformation.tsx
Labels: frontend, ready to merge

#89 style: begin misc design updates from visual enhancements
  backend/typescript/models/scheduling.model.ts
  backend/typescript/seeders/20211114043430-seed-donations.ts
  backend/typescript/services/implementations/__tests__/schedulingService.test.ts
  backend/typescript/types.ts
  frontend/src/components/auth/Login.tsx
  frontend/src/components/common/Header.tsx
  frontend/src/components/common/RadioSelectGroup.tsx
  frontend/src/components/pages/Account.tsx
  frontend/src/components/pages/Scheduling/GetStarted.tsx
  frontend/src/components/pages/Scheduling/SelectDateTime.tsx
  frontend/src/components/pages/Scheduling/types.ts
  frontend/src/constants/DaysInWeek.ts
  frontend/src/theme/components/Container.ts
Labels: frontend, ready for review

#90 fix: dashboard updates from visual enhancements
  frontend/src/components/pages/Dashboard/components/DropoffCard.tsx
  frontend/src/components/pages/Dashboard/index.tsx
  frontend/src/components/pages/Scheduling/GetStarted.tsx
  frontend/src/components/pages/Scheduling/types.ts
  frontend/src/constants/DaysInWeek.ts
Labels: frontend, ready to merge

#93 feat: backend add delete recurring donations API endpoint
  backend/typescript/rest/schedulingRoutes.ts
  backend/typescript/services/implementations/__tests__/schedulingService.test.ts
  backend/typescript/services/implementations/schedulingService.ts
  backend/typescript/services/interfaces/schedulingService.ts
Labels: backend, ready to merge

#95 fix: ci and pr lint github actions
  .github/workflows/ci.yml
  .github/workflows/lint-pr.yml
Labels: ready to merge

#96 feat: add cfkw image routing and favicon update
  frontend/public/favicon.ico
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/src/components/common/Header.tsx
Labels: frontend, ready to merge

#92 fix: dashboard empty state and donation details updates from visual enhancements
  frontend/src/components/pages/Dashboard/index.tsx
  frontend/src/components/pages/Scheduling/ConfirmDetails.tsx
  frontend/src/components/pages/Scheduling/DonationInformation.tsx
  frontend/src/components/pages/Scheduling/types.ts
  frontend/src/theme/components/Button.ts
Labels: frontend, ready to merge

#97 feat: create donor management table
  frontend/src/App.tsx
  frontend/src/components/pages/UserManagement/index.tsx
  frontend/src/constants/Routes.ts
Labels: frontend, ready to merge

#100 feat: recurring delete donation modal
  backend/typescript/rest/schedulingRoutes.ts
  backend/typescript/services/implementations/__tests__/schedulingService.test.ts
  backend/typescript/services/implementations/schedulingService.ts
  backend/typescript/services/interfaces/schedulingService.ts
  frontend/src/APIClients/SchedulingAPIClient.ts
  frontend/src/components/pages/Dashboard/components/DeleteRecurringModal.tsx
  frontend/src/components/pages/Dashboard/components/DeleteScheduleModal.tsx
  frontend/src/components/pages/Scheduling/ConfirmDetails.tsx
Labels: frontend, ready to merge

#94 feat: extract calendar component and refactor scheduling flow
  frontend/src/assets/personIcon.svg
  frontend/src/components/common/Calendar/WeeklyEventItems.tsx
  frontend/src/components/common/RadioImageSelectGroup.tsx
  frontend/src/components/common/RadioSelectGroup.tsx
  frontend/src/components/pages/Scheduling/BackButton.tsx
  frontend/src/components/pages/Scheduling/DonationInformation.tsx
  frontend/src/components/pages/Scheduling/GetStarted.tsx
  frontend/src/components/pages/Scheduling/NextButton.tsx
  frontend/src/components/pages/Scheduling/SelectDateTime.tsx
  frontend/src/components/pages/Scheduling/VolunteerInformation.tsx
  frontend/src/components/pages/Scheduling/selectDateTime.css
  frontend/src/components/pages/Scheduling/types.ts
  frontend/src/theme/colors.ts
  frontend/src/theme/components/Button.ts
Labels: frontend, do not merge, refactor

#103 fix: scheduling frequency input in formvalue
  frontend/src/components/pages/Scheduling/BackButton.tsx
  frontend/src/components/pages/Scheduling/DonationInformation.tsx
  frontend/src/components/pages/Scheduling/GetStarted.tsx
  frontend/src/components/pages/Scheduling/NextButton.tsx
  frontend/src/components/pages/Scheduling/SelectDateTime.tsx
  frontend/src/components/pages/Scheduling/VolunteerInformation.tsx
  frontend/src/components/pages/Scheduling/types.ts
  frontend/src/theme/components/Button.ts
Labels: bug, ready for review

#74 feat: email verification after scheduling donation
  backend/typescript/package.json
  backend/typescript/rest/schedulingRoutes.ts
  backend/typescript/services/implementations/__tests__/schedulingService.test.ts
  backend/typescript/services/implementations/schedulingService.ts
  backend/typescript/services/interfaces/schedulingService.ts
  backend/typescript/types.ts
  backend/typescript/yarn.lock
Labels: backend, ready to merge

#101 fix: update monthly donation logic + getting next recurring donation id logic
  backend/typescript/services/implementations/__tests__/schedulingService.test.ts
  backend/typescript/services/implementations/schedulingService.ts
  frontend/src/components/pages/Scheduling/SelectDateTime.tsx
Labels: bug, backend, ready for review

#108 fix: disable editing proposed end date
  frontend/src/components/pages/Scheduling/SelectDateTime.tsx
Labels: ready to merge

#110 fix: account page loading for admin
  frontend/src/APIClients/UserAPIClient.ts
  frontend/src/components/pages/Account.tsx
Labels: bug, frontend, ready for review

#107 fix: error scheduling modal
  frontend/src/components/pages/Dashboard/components/ErrorSchedulingModal.tsx
  frontend/src/components/pages/Scheduling/ConfirmDetails.tsx
Labels: ready to merge

#104 feat: make my account editable
  frontend/src/assets/pencilIcon.svg
  frontend/src/components/common/UserManagement/ConfirmCancelEditModal.tsx
  frontend/src/components/pages/Account.tsx
  frontend/src/theme/components/Button.ts
  frontend/src/theme/components/Input.ts
  frontend/src/theme/index.ts
Labels: frontend, ready to merge

#109 fix: update calendar and fix reccurring end date input
  frontend/src/components/pages/Scheduling/SelectDateTime.tsx
Labels: frontend, ready to merge

#111 fix: next dropoff date + midnight time formatting
  frontend/src/components/common/Calendar/CalendarInfoCard.tsx
  frontend/src/components/pages/Dashboard/components/DropoffCard.tsx
  frontend/src/components/pages/Scheduling/ConfirmDetails.tsx
Labels: bug, frontend, ready to merge

#116 fix: add spinner for email verification confirmation page
  frontend/src/components/auth/Action.tsx
Labels: frontend, ready for review

#112 fix: Update style of buttons to match Figma
  frontend/src/components/pages/Scheduling/BackButton.tsx
  frontend/src/components/pages/Scheduling/CancelEditsButton.tsx
  frontend/src/components/pages/Scheduling/ConfirmDetails.tsx
  frontend/src/components/pages/Scheduling/DonationInformation.tsx
  frontend/src/components/pages/Scheduling/NextButton.tsx
  frontend/src/components/pages/Scheduling/SaveChangesButton.tsx
  frontend/src/components/pages/Scheduling/SelectDateTime.tsx
  frontend/src/components/pages/Scheduling/VolunteerInformation.tsx
  frontend/src/components/pages/Scheduling/types.ts
Labels: frontend, ready for review

#114 fix: admin calendar card view, drawer, and header
  frontend/src/components/auth/Login.tsx
  frontend/src/components/common/Header.tsx
  frontend/src/components/pages/Account.tsx
  frontend/src/components/pages/Scheduling/ConfirmDetails.tsx
Labels: frontend, ready to merge

#115 fix: small volunteer info screen bugs
  frontend/src/components/pages/Scheduling/ConfirmDetails.tsx
  frontend/src/components/pages/Scheduling/VolunteerInformation.tsx
Labels: ready for review

#113 fix: revert form values after cancelling edits
  frontend/src/components/pages/Scheduling/BackButton.tsx
  frontend/src/components/pages/Scheduling/CancelEditsButton.tsx
  frontend/src/components/pages/Scheduling/ConfirmDetails.tsx
  frontend/src/components/pages/Scheduling/DonationInformation.tsx
  frontend/src/components/pages/Scheduling/NextButton.tsx
  frontend/src/components/pages/Scheduling/SaveChangesButton.tsx
  frontend/src/components/pages/Scheduling/SelectDateTime.tsx
  frontend/src/components/pages/Scheduling/VolunteerInformation.tsx
  frontend/src/components/pages/Scheduling/types.ts
Labels: bug, frontend, ready for review

#119 fix: make all margins consistent across pages
  frontend/src/components/auth/Action.tsx
  frontend/src/components/common/Footer.tsx
  frontend/src/components/common/Header.tsx
  frontend/src/components/pages/Dashboard/index.tsx
  frontend/src/components/pages/Home/index.tsx
  frontend/src/components/pages/Scheduling/ConfirmDetails.tsx
  frontend/src/components/pages/Scheduling/GetStarted.tsx
  frontend/src/components/pages/Scheduling/SelectDateTime.tsx
  frontend/src/components/pages/Scheduling/VolunteerInformation.tsx
  frontend/src/components/pages/UserManagement/index.tsx
  frontend/src/components/pages/ViewDonationsPage.tsx
  frontend/src/theme/components/Container.ts
Labels: bug, frontend, ready to merge
