Repository uwblueprint/community-fridge-kw, pull requests merged in 2022-04, with the labels that each got.

#187 feat: admin view check-in page
  backend/typescript/services/implementations/__tests__/checkInService.test.ts
  backend/typescript/services/implementations/checkInService.ts
  backend/typescript/types.ts
  frontend/src/APIClients/CheckInAPIClient.ts
  frontend/src/App.tsx
  frontend/src/assets/menuIcon.svg
  frontend/src/components/common/Calendar/Calendar.tsx
  frontend/src/components/common/Calendar/WeeklyCalendar.tsx
  frontend/src/components/common/Card/index.tsx
  frontend/src/components/common/FridgeCheckInDescription.tsx
  frontend/src/components/common/FridgeFoodRescueDescription.tsx
  frontend/src/components/pages/AdminDashboard/ViewCheckInsPage.tsx
  frontend/src/components/pages/AdminDashboard/ViewDonationsAndCheckIns.tsx
  frontend/src/components/pages/AdminDashboard/ViewDonationsPage.tsx
  frontend/src/components/pages/AdminDashboard/components/CheckInAdminButtons.tsx
  frontend/src/components/pages/AdminDashboard/components/CheckInInfoCard.tsx
  frontend/src/components/pages/CheckInsPage.tsx
  frontend/src/components/pages/Dashboard/components/DropoffCard.tsx
  frontend/src/components/pages/Home/index.tsx
  frontend/src/theme/components/Button.ts
  frontend/src/types/CheckInTypes.ts
Labels: enhancement, frontend, changes requested

#178 feat: Add volunteers to user management table
  backend/typescript/rest/volunteerRoutes.ts
  backend/typescript/services/implementations/donorService.ts
  backend/typescript/services/implementations/volunteerService.ts
  backend/typescript/services/interfaces/volunteerService.ts
  frontend/src/APIClients/UserAPIClient.ts
  frontend/src/APIClients/VolunteerAPIClient.ts
  frontend/src/components/pages/Scheduling/SelectDateTime.tsx
  frontend/src/components/pages/UserManagement/index.tsx
  frontend/src/components/pages/UserManagement/types.ts
  frontend/src/theme/components/Button.ts
  frontend/src/types/VolunteerTypes.ts
Labels: frontend, ready to merge

#179 feat: volunteer dashboard page
  backend/typescript/services/interfaces/schedulingService.ts
  frontend/src/APIClients/CheckInAPIClient.ts
  frontend/src/APIClients/VolunteerAPIClient.ts
  frontend/src/App.tsx
  frontend/src/components/common/Card/index.tsx
  frontend/src/components/pages/VolunteerDashboard/PendingPage.tsx
  frontend/src/components/pages/VolunteerDashboard/ShiftCard.tsx
  frontend/src/components/pages/VolunteerDashboard/ShiftsPage.tsx
  frontend/src/components/pages/VolunteerDashboard/index.tsx
  frontend/src/components/pages/VolunteerDashboard/types.ts
  frontend/src/components/pages/VolunteerScheduling/CheckIns.tsx
  frontend/src/components/pages/VolunteerScheduling/FoodRescues.tsx
  frontend/src/components/pages/VolunteerScheduling/VolunteerShiftTabs.tsx
  frontend/src/components/pages/VolunteerScheduling/index.tsx
  frontend/src/components/pages/VolunteerShifts/index.tsx
  frontend/src/theme/components/Button.ts
  frontend/src/types/VolunteerTypes.ts
Labels: enhancement, frontend, ready to merge, in review

#193 feat: auto logout when token expires
  frontend/src/APIClients/BaseAPIClient.ts
Labels: hotfix

#195 fix: handle delete for checkin at top level of component
  frontend/src/components/auth/Login.tsx
  frontend/src/components/common/Calendar/Calendar.tsx
  frontend/src/components/pages/Account.tsx
  frontend/src/components/pages/AdminDashboard/ViewDonationsAndCheckIns.tsx
  frontend/src/components/pages/AdminDashboard/components/CheckInInfoCard.tsx
  frontend/src/components/pages/Scheduling/ConfirmDetails.tsx
Labels: frontend, ready for review

#194 refactor: extract email header and footer
  backend/typescript/services/implementations/authService.ts
  backend/typescript/services/implementations/cronService.ts
  backend/typescript/services/implementations/schedulingService.ts
  backend/typescript/utilities/emailUtils.ts
Labels: ready to merge, refactor

#198 feat: make volunteer signup phone number mandatory
  frontend/src/components/auth/Signup/CreateAccount.tsx
Labels: frontend, ready to merge

#176 feat: admin create checkin page
  frontend/src/APIClients/CheckInAPIClient.ts
  frontend/src/App.tsx
  frontend/src/components/pages/AdminDashboard/ViewDonationsAndCheckIns.tsx
  frontend/src/components/pages/AdminDashboard/components/CheckInAdminButtons.tsx
  frontend/src/components/pages/FridgeManagement/FridgeCheckIns/ErrorMessages.tsx
  frontend/src/components/pages/FridgeManagement/FridgeCheckIns/index.tsx
  frontend/src/components/pages/Scheduling/selectDateTime.css
  frontend/src/constants/Routes.ts
  frontend/src/types/CheckInTypes.ts
Labels: frontend, ready to merge

#196 feat: Added admin donation filter buttons
  frontend/src/APIClients/CheckInAPIClient.ts
  frontend/src/components/common/FridgeFoodRescueDescription.tsx
  frontend/src/components/pages/AdminDashboard/ViewDonationsAndCheckIns.tsx
  frontend/src/components/pages/AdminDashboard/components/CheckInAdminButtons.tsx
  frontend/src/components/pages/FridgeManagement/FridgeCheckIns/index.tsx
  frontend/src/theme/components/Button.ts
Labels: frontend, ready to merge

#197 feat: admin delete range of checkins
  frontend/src/App.tsx
  frontend/src/components/common/GeneralDeleteShiftModal.tsx
  frontend/src/components/pages/AdminDashboard/components/CheckInAdminButtons.tsx
  frontend/src/components/pages/Dashboard/components/DeleteScheduleModal.tsx
  frontend/src/components/pages/FridgeManagement/FridgeCheckIns/DeleteCheckIns.tsx
  frontend/src/components/pages/Scheduling/ConfirmDetails.tsx
  frontend/src/constants/Routes.ts
Labels: enhancement, frontend, ready to merge

#191 feat: edit content pages
  frontend/src/App.tsx
  frontend/src/components/common/FridgeCheckInDescription.tsx
  frontend/src/components/common/FridgeFoodRescueDescription.tsx
  frontend/src/components/pages/AdminDashboard/EditCheckInDescriptionPage.tsx
  frontend/src/components/pages/AdminDashboard/EditCheckInOrFoodRescueDescription.tsx
  frontend/src/components/pages/AdminDashboard/EditFoodRescueDescriptionPage.tsx
  frontend/src/constants/Routes.ts
Labels: ready to merge

#201 fix: Add error handling for loading users for admin
  frontend/src/components/pages/UserManagement/index.tsx
Labels: frontend, ready for review

#200 feat: send admin email on volunteer sign up
  backend/typescript/rest/authRoutes.ts
  backend/typescript/services/implementations/authService.ts
  backend/typescript/services/interfaces/authService.ts
Labels: backend, changes requested, ready to merge

#204 fix: volunteer and admin default routing and add protections
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/PrivateRoute.tsx
  frontend/src/components/pages/Scheduling/ConfirmDetails.tsx
Labels: bug, frontend, ready to merge

#199 fix: checkin deletion backend unhandled promise error
  backend/typescript/rest/checkInRoutes.ts
Labels: bug, backend, ready to merge

#202 feat: admin edit checkins page
  frontend/src/APIClients/CheckInAPIClient.ts
  frontend/src/App.tsx
  frontend/src/components/pages/AdminDashboard/components/CheckInInfoCard.tsx
  frontend/src/components/pages/FridgeManagement/FridgeCheckIns/EditCheckin.tsx
  frontend/src/components/pages/FridgeManagement/FridgeCheckIns/ErrorMessages.tsx
  frontend/src/components/pages/FridgeManagement/FridgeCheckIns/index.tsx
  frontend/src/constants/Routes.ts
  frontend/src/types/CheckInTypes.ts
Labels: enhancement, frontend, ready to merge

#206 feat: Add confirmation modal when deleting a user
  frontend/src/components/pages/UserManagement/index.tsx
Labels: ready to merge

#203 feat: admin export food rescues and checkins
  frontend/package.json
  frontend/src/components/pages/AdminDashboard/ViewDonationsAndCheckIns.tsx
  frontend/src/components/pages/AdminDashboard/components/CheckInAdminButtons.tsx
  frontend/src/components/pages/AdminDashboard/getCSVData.tsx
  frontend/src/utils/CSVUtils.ts
  frontend/yarn.lock
Labels: frontend, ready to merge

#207 feat: Add confirmation modal when deleting checkin + removing volunteer
  frontend/src/components/pages/AdminDashboard/components/CheckInInfoCard.tsx
Labels: ready to merge

#208 fix: 24 hour date validation crash
  backend/typescript/middlewares/validators/schedulingValidators.ts
  backend/typescript/middlewares/validators/util.ts
  frontend/src/components/pages/Dashboard/components/DropoffCard.tsx
  frontend/src/components/pages/FridgeManagement/FridgeCheckIns/EditCheckin.tsx
  frontend/src/components/pages/FridgeManagement/FridgeCheckIns/index.tsx
  frontend/src/components/pages/VolunteerDashboard/ShiftCard.tsx
Labels: bug, frontend, ready to merge

#189 feat: food rescue volunteer sign up flow
  backend/typescript/services/implementations/__tests__/checkInService.test.ts
  backend/typescript/services/implementations/__tests__/schedulingService.test.ts
  backend/typescript/services/implementations/__tests__/volunteerService.test.ts
  backend/typescript/services/implementations/checkInService.ts
  backend/typescript/services/implementations/schedulingService.ts
  frontend/src/App.tsx
  frontend/src/components/auth/Login.tsx
  frontend/src/components/common/Calendar/Calendar.tsx
  frontend/src/components/common/Calendar/CalendarToggle.tsx
  frontend/src/components/common/Calendar/WeeklyCalendar.tsx
  frontend/src/components/common/FridgeCheckInDescription.tsx
  frontend/src/components/common/FridgeFoodRescueDescription.tsx
  frontend/src/components/common/Header.tsx
  frontend/src/components/pages/AdminDashboard/ViewDonationsAndCheckIns.tsx
  frontend/src/components/pages/Scheduling/ConfirmDetails.tsx
  frontend/src/components/pages/VolunteerDashboard/ShiftCard.tsx
  frontend/src/components/pages/VolunteerDashboard/ShiftDetails.tsx
  frontend/src/components/pages/VolunteerDashboard/ShiftsPage.tsx
  frontend/src/components/pages/VolunteerScheduling/CheckInCalendar.tsx
  frontend/src/components/pages/VolunteerScheduling/CheckIns.tsx
  frontend/src/components/pages/VolunteerScheduling/ConfirmShiftDetails.tsx
  frontend/src/components/pages/VolunteerScheduling/FoodRescues.tsx
  frontend/src/components/pages/VolunteerScheduling/ThankYouVolunteer.tsx
  frontend/src/components/pages/VolunteerScheduling/VolunteerShiftTabs.tsx
  frontend/src/components/pages/VolunteerScheduling/index.tsx
  frontend/src/constants/Routes.ts
  frontend/src/types/CheckInTypes.ts
  frontend/src/types/SchedulingTypes.ts
Labels: frontend, ready to merge

#218 build: Update prod CORS
  backend/typescript/server.ts
Labels: ready to merge

#219 feat: send email to volunteer when approved
  backend/typescript/rest/authRoutes.ts
  backend/typescript/services/implementations/authService.ts
  backend/typescript/services/interfaces/authService.ts
  frontend/src/APIClients/AuthAPIClient.ts
  frontend/src/components/pages/UserManagement/index.tsx
  frontend/src/components/pages/UserManagement/types.ts
Labels: enhancement, backend, ready to merge

#217 feat: three questions to volunteer signup flow
  backend/typescript/rest/authRoutes.ts
  backend/typescript/services/implementations/authService.ts
  backend/typescript/services/interfaces/authService.ts
  frontend/src/APIClients/AuthAPIClient.ts
  frontend/src/components/auth/Signup/AccountDetails.tsx
  frontend/src/components/auth/Signup/TermsConditions.tsx
  frontend/src/components/auth/Signup/VolunteerQuestions.tsx
  frontend/src/components/auth/Signup/index.tsx
  frontend/src/components/auth/Signup/types.ts
Labels: frontend, ready to merge

#216 feat: volunteer food rescue/check-in shift signup confirmation email
  backend/typescript/services/implementations/__tests__/checkInService.test.ts
  backend/typescript/services/implementations/__tests__/schedulingService.test.ts
  backend/typescript/services/implementations/checkInService.ts
  backend/typescript/services/implementations/cronService.ts
  backend/typescript/services/implementations/schedulingService.ts
  backend/typescript/services/implementations/volunteerService.ts
  backend/typescript/services/interfaces/checkInService.ts
  backend/typescript/services/interfaces/schedulingService.ts
  backend/typescript/testUtils/checkInService.ts
  backend/typescript/testUtils/schedulingService.ts
  backend/typescript/utilities/emailUtils.ts
Labels: backend, ready to merge

#220 feat: volunteer cancel fridge checkin emails
  backend/typescript/services/implementations/checkInService.ts
  backend/typescript/services/interfaces/checkInService.ts
Labels: ready to merge

#221 feat: send food rescue cancellation emails to admin and volunteer
  backend/typescript/services/implementations/schedulingService.ts
  backend/typescript/services/interfaces/schedulingService.ts
  frontend/src/components/pages/UserManagement/index.tsx
Labels: backend, ready for review

#190 fix: email reminders
  backend/typescript/rest/authRoutes.ts
  backend/typescript/rest/cronRoutes.ts
  backend/typescript/server.ts
  backend/typescript/services/implementations/cronService.ts
  backend/typescript/services/interfaces/cronService.ts
Labels: ready to merge

#226 style: admin fridge checkin and scheduled donation design fixes
  frontend/src/components/common/Card/index.tsx
  frontend/src/components/pages/Account.tsx
  frontend/src/components/pages/AdminDashboard/ViewDonationsAndCheckIns.tsx
  frontend/src/components/pages/AdminDashboard/components/CheckInInfoCard.tsx
  frontend/src/components/pages/Dashboard/components/DropoffCard.tsx
  frontend/src/components/pages/FridgeManagement/FridgeCheckIns/DeleteCheckIns.tsx
  frontend/src/components/pages/FridgeManagement/FridgeCheckIns/index.tsx
  frontend/src/components/pages/Scheduling/ConfirmDetails.tsx
Labels: ready for review

#225 style: admin user management
  frontend/src/components/pages/UserManagement/index.tsx
Labels: frontend, ready to merge

#229 style: volunteer dashboard/signup flow fixes
  backend/typescript/services/implementations/schedulingService.ts
  frontend/src/components/common/FridgeCheckInDescription.tsx
  frontend/src/components/common/FridgeFoodRescueDescription.tsx
  frontend/src/components/pages/Dashboard/index.tsx
  frontend/src/components/pages/Scheduling/ThankYou.tsx
  frontend/src/components/pages/VolunteerDashboard/ShiftCard.tsx
  frontend/src/components/pages/VolunteerDashboard/ShiftsPage.tsx
  frontend/src/components/pages/VolunteerScheduling/CheckIns.tsx
  frontend/src/components/pages/VolunteerScheduling/ConfirmShiftDetails.tsx
  frontend/src/components/pages/VolunteerScheduling/FoodRescues.tsx
  frontend/src/components/pages/VolunteerScheduling/ThankYouVolunteer.tsx
  frontend/src/components/pages/VolunteerScheduling/VolunteerShiftTabs.tsx
  frontend/src/theme/components/Button.ts
Labels: frontend, ready to merge, in review

#232 style: misc. frontend fixes
  backend/typescript/services/implementations/checkInService.ts
  backend/typescript/services/implementations/cronService.ts
  backend/typescript/services/implementations/schedulingService.ts
  backend/typescript/utilities/emailUtils.ts
  frontend/src/App.tsx
  frontend/src/components/common/Header.tsx
  frontend/src/components/pages/AdminDashboard/EditCheckInOrFoodRescueDescription.tsx
  frontend/src/components/pages/FridgeManagement/FridgeCheckIns/EditCheckin.tsx
  frontend/src/components/pages/Scheduling/ConfirmDetails.tsx
  frontend/src/components/pages/Scheduling/VolunteerInformation.tsx
  frontend/src/components/pages/VolunteerDashboard/ShiftCard.tsx
  frontend/src/components/pages/VolunteerDashboard/ShiftsPage.tsx
  frontend/src/components/pages/VolunteerScheduling/ConfirmShiftDetails.tsx
  frontend/src/components/pages/VolunteerScheduling/ThankYouVolunteer.tsx
Labels: frontend, ready to merge

#233 fix: remove volunteerId when donor edits donation to not need volunteer
  frontend/src/components/pages/Scheduling/VolunteerInformation.tsx
Labels: bug, frontend, ready for review

#212 feat: email volunteer after admin deletes schedule
  backend/typescript/rest/schedulingRoutes.ts
  backend/typescript/services/implementations/__tests__/schedulingService.test.ts
  backend/typescript/services/implementations/schedulingService.ts
  backend/typescript/services/implementations/volunteerService.ts
  backend/typescript/services/interfaces/schedulingService.ts
  backend/typescript/utilities/emailUtils.ts
Labels: backend, ready to merge

#234 fix: set volunteerId to null when volunteering as admin
  frontend/src/components/pages/AdminDashboard/components/CheckInInfoCard.tsx
  frontend/src/components/pages/VolunteerScheduling/CheckIns.tsx
Labels: ready for review

#235 fix: page scrolling in volunteer shift sign up flow
  frontend/src/components/pages/VolunteerScheduling/index.tsx
Labels: frontend, ready for review

#230 feat: emails when admin removes volunteer or delete checkin
  backend/typescript/services/implementations/checkInService.ts
  backend/typescript/services/implementations/schedulingService.ts
  frontend/src/components/pages/VolunteerScheduling/ConfirmShiftDetails.tsx
Labels: backend, ready to merge

#241 fix: update CFKW logo
  frontend/public/header-logo.png
  frontend/src/assets/drawer-logo.png
  frontend/src/assets/header-logo.png
  frontend/src/components/auth/ResetPassword/VerificationEmail.tsx
  frontend/src/components/common/Header.tsx
Labels: frontend, ready for review

#240 fix: button UI changes
  frontend/src/components/pages/Dashboard/index.tsx
  frontend/src/components/pages/Home/index.tsx
  frontend/src/components/pages/Scheduling/ConfirmDetails.tsx
  frontend/src/components/pages/Scheduling/DonationInformation.tsx
  frontend/src/components/pages/Scheduling/GetStarted.tsx
  frontend/src/components/pages/Scheduling/NextButton.tsx
  frontend/src/components/pages/Scheduling/SaveChangesButton.tsx
  frontend/src/components/pages/Scheduling/SelectDateTime.tsx
  frontend/src/components/pages/Scheduling/ThankYou.tsx
  frontend/src/components/pages/Scheduling/VolunteerInformation.tsx
  frontend/src/components/pages/VolunteerDashboard/ShiftCard.tsx
  frontend/src/components/pages/VolunteerDashboard/ShiftsPage.tsx
Labels: frontend, ready to merge

#237 fix: requested client copy changes
  frontend/src/components/auth/Signup/CreateAccount.tsx
  frontend/src/components/auth/Signup/TermsConditions.tsx
  frontend/src/components/pages/Home/VolunteerRoles.tsx
  frontend/src/components/pages/VolunteerScheduling/ConfirmShiftDetails.tsx
Labels: frontend, ready for review

#236 fix: show checkin end time for volunteer details
  frontend/src/components/pages/VolunteerScheduling/ConfirmShiftDetails.tsx
Labels: bug, ready to merge

#243 fix: misc styling changes
  frontend/src/components/common/FridgeCheckInDescription.tsx
  frontend/src/components/common/FridgeFoodRescueDescription.tsx
  frontend/src/components/pages/Account.tsx
  frontend/src/components/pages/AdminDashboard/EditCheckInOrFoodRescueDescription.tsx
  frontend/src/components/pages/AdminDashboard/ViewDonationsAndCheckIns.tsx
  frontend/src/components/pages/Dashboard/index.tsx
  frontend/src/components/pages/Home/DonationProcess.tsx
  frontend/src/theme/components/Button.ts
Labels: frontend, in progress

#231 feat: add empty state to calendar
  frontend/src/assets/Verification-Email-Image.png
  frontend/src/components/auth/ResetPassword/VerificationEmail.tsx
  frontend/src/components/common/Calendar/Calendar.tsx
  frontend/src/components/common/Calendar/WeeklyCalendar.tsx
  frontend/src/components/common/Footer.tsx
  frontend/src/components/pages/Home/VolunteerRoles.tsx
Labels: frontend, ready to merge

#247 fix: add color for today in custom css sheet
  frontend/src/components/pages/Scheduling/selectDateTime.css
Labels: bug, frontend, ready for review

#248 fix: only have screening details for volunteers
  frontend/src/components/auth/Signup/CreateAccount.tsx
  frontend/src/components/common/FridgeCheckInDescription.tsx
  frontend/src/components/common/FridgeFoodRescueDescription.tsx
  frontend/src/components/pages/Account.tsx
Labels: ready to merge

#250 fix: add line to reminder email copy for donors
  backend/typescript/services/implementations/cronService.ts
  frontend/src/components/pages/Dashboard/components/DropoffCard.tsx
  frontend/src/components/pages/VolunteerDashboard/ShiftCard.tsx
Labels: frontend, ready for review
